@import url(https://www.fontshare.com/?q=Clash%20Display);

html {
  font-family: "Clash Display", sans-serif;
  line-height: 1.5;
  background-color: #131212;
}

/* CSS RESET STYLING */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* UTILITY CLASS STYLING */
.container {
  width: 1440px;
  margin: 0 auto;
  border: red solid 1px;
  background-color: #ffffff;
}

/* NAVIGATION SECTION */
#header-container {
  display: flex;
  justify-content: space-between;
}
#logo {
  padding-top: 52px;
  padding-left: 183px;
  width: 113px;
  font-weight: 700;
  font-size: 32px;
  line-height: 90px;
  font-family: clash display;
}

#header-nav1 {
  padding-top: 65px;
  gap: 47px;
  font-size: 18px;
}
ul,
ol {
  list-style: none;
}
ul {
  display: flex;
  gap: 40px;
  font-size: 19px;
}

#header-nav2 {
  padding-top: 69px;
  padding-right: 120px;
  height: 90px;
  gap: 10px;
}

#header-nav2 img {
  width: 35px;
  height: 35px;
}

/* SECTION  1 */

h1 {
  padding-top: 53px;
  font-size: 64px;
  text-align: center;
  line-height: 157%;
  font-weight: 500;
  }

#paragraph {
    font-size: 28px;
  font-family: satoshi;
  font-weight: 500;
  line-height: 157%;
  text-align: center;
}

/* SECTION 2, THE IMAGE SECTION  */

#image-div {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#image-div > div > img {
  width: 344.4px;
}
.image-one img {
  padding-top: 90px;
  width: 350px;
  height: 380px;
}

/* SECTION 3 */
#section3-h2 {
  padding-left: 120px;
  padding-top: 130px;
  font-family: satoshi;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #333333;
}
.hr {
  padding: 10px 120px 61px 120px;
}
.section3-div {
  margin-left: 120px;
  width: fit-content;
  border: red solid 2px;
  display: flex;
  gap: 37px;
  position: relative;
}

#section3-image {
  width: fit-content;
  width: 610px;
  height: 305px;
}

#sec3img > div > img {
  width: 610px;
  height: 305px;
}

#section3-header {
  width: 372px;
  height: auto;
  font-size: 30px;
  font-weight: 500;
  font-family: clash display;
  line-height: 100%;
  color: #333333;
  border: blue solid;
  position: absolute;
  bottom: 230px;
  color: #333333;
}
#section3-paragraph p {
  font-weight: 400;
  font-family: satoshi;
  color: #616161;
  font-size: 27px;
  line-height: 100%;
  border: red solid 1px;
  width: 555px;
  height: 128px;
  position: absolute;
  top: 60px;
}
.creators {
  display: flex;
  width: 555px;
  height: 50px;
  align-items: center;
  gap: 10px;
  margin-left: 9px;
  margin-top: 240px;
  border: yellow solid;
  position: absolute;
}

.avatars {
  display: flex;
}

.avatars img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
}

.creators span {
  font-size: 14px;
  color: #555;
}

.span{
  width: 80px;
  height: auto;
}
.arrow-button img{
  width: 50px;
  height: 50px;
  padding-top: 5px;
 padding-left: 200px;
}

/* SECTION 4 */

#section4-divv {
  display: flex;
  gap: 50px;
}
.hr4 {
  padding: 60px 120px 0px 120px;
}
#section4-heading {
}
#section3-h3-div {
  padding-top: 20px;
  padding-left: 120px;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  font-family: clash display;
  height: 44p;
  color: #333333;
}
#section4-para p {
  width: 541px;
  height: 128px;
  margin-left: 120px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border: red solid 2px;
}

.creators4 {
  display: flex;
  width: 555px;
  height: 50px;
  align-items: center;
  gap: 10px;
  margin-left: 120px;
  margin-top: 10px;
  border: yellow solid;
  position: absolute;
}

.avatars4 {
  display: flex;
}

.avatars4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
}

.creators4 span {
  font-size: 14px;
  color: #555;
}

.span{
  width: 80px;
  height: auto;
}
.arrow-button4 img{
  width: 50px;
  height: 50px;
  padding-top: 5px;
 padding-left: 190px;
}


#section4-image {
  padding-top: 61px;
  padding-right: 120px;
  width: fit-content;
}
#section4-image img {
  width: 610px;
  height: 305px;
  border: 2px RED solid;
}


/* SECTION 5 */

.section5-div {
  padding-left: 120px;
  width: fit-content;
  border: red solid 2px;
  display: flex;
  gap: 37px;
}
.section5-div > div > img {
  width: 610px;
  height: 305px;
}
.hr5 {
  padding: 60px 120px 60px 120px;
}
#section5-header {
  width: 209px;
  height: 44px;
  padding-top: px;
  width: 500px;
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
  color: #333333;
  font-family: clash display;
  border: lawngreen solid;
  position: absolute;
  margin-top: 2px;
}

#section5-para {
  margin-top: 95px;
  width: 541px;
  height: 128px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border: red 1px solid;
}


.creators5 {
  display: flex;
  width: 555px;
  height: 50px;
  align-items: center;
  gap: 10px;
  margin-left: 9px;
  margin-top: 0px;
  border: yellow solid;
  position: absolute;
}

.avatars5 {
  display: flex;
}

.avatars5 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
}

.creators5 span {
  font-size: 14px;
  color: #555;
}

.span{
  width: 80px;
  height: auto;
}
.arrow-button5 img{
  width: 50px;
  height: 50px;
  padding-top: 5px;
 padding-left: 185px;
}


 
