@import url(https://www.fontshare.com/?q=Clash%20Display);

html {
  font-family: "Clash Display", sans-serif;
  line-height: 1.5;
  background-color: #333333;
}

/* CSS RESET STYLING */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* UTILITY CLASS STYLING */
.container {
  width: 1440px;
  margin: 0 auto;
  border: red solid 1px;
  background-color: #ffffff;
   }

/* NAVIGATION SECTION */
#header-container {
  display: flex;
  justify-content: space-between;
}
#logo {
  padding-top: 52px;
  padding-left: 183px;
  width: 113px;
  font-weight: 700;
  font-size: 32px;
  line-height: 90px;
  font-family: clash display;
 }

#header-nav1 {
  padding-top: 65px;
  gap: 47px;
  font-size: 18px;
  }
ul,
ol {
  list-style: none;
}
ul {
  display: flex;
  gap: 40px;
}

#header-nav2 {
  padding-top: 69px;
  padding-right: 120px;
  height: 90px;
  gap: 10px;
   }

#header-nav2 img {
  width: 35px;
  height: 35px;
  }

/* SECTION  1 */

h1 {
  padding-top: 80px;
  font-size: 64px;
  text-align: center;
  line-height: 157%;
  font-weight: 500;
}

#paragraph {
  padding-top: 50px;
  font-size: 28px;
  font-family: satoshi;
  font-weight: 500;
  line-height: 157%;
  text-align: center;
}

/* SECTION 2, THE IMAGE SECTION  */

#image-div {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  }

#image-div > div > img {
  width: 344.4px;
 }

/* SECTION 3 */
#section3-h2 {
  padding-left: 120px;
  padding-top: 128px;
  padding-bottom: 37px;
  font-family: satoshi;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
}
.hr{
 padding: 0px 120px 61px 120px;
}
.featured-div {
  padding-left: 120px;
  width: fit-content;
  border: red solid 2px;
  display: flex;
  gap: 37px;
}
#featured-image {
padding-top: 0px;
width: fit-content;
width: 610px;
height: 305px;
  }
  .featured-div > div > img {
    width: 660px;
    height: 305px;
  }
#featured-header {
  padding-top: 2px;
  width: 372px;
  height: 42px;
  font-size: 36px;
  font-weight: 500;
  font-family: clash display;
  line-height: 100%;
  color: #333333;
}
#section3-paragraph  {
  padding-left: 55px;
  padding-top: 42px;
  font-weight: 400;
  font-family: satoshi;
  color: #616161;
  font-size: 24px;
  line-height: 100%;
  border: red solid 1px;
  width: 555px;
  height: 128px;
}


/* .vvvv{
padding-left: 30px;
padding-top: 30px;
font-weight: 400;
font-size: 24px;
line-height: 100%;
} */

/* #featured-header {
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
  padding-top: 20px;
} */


#comment3-link-div {
  padding-top: 40px;
  padding-left: 485px;
  border: red solid 1px;
}

/* .featured2-div{
  border: green solid 2px;
  width: fit-content;
} */
/* #section3 {
  padding-left: 30px;
  padding-top: 5px;
  width: 500px;
  font-size: 36px;
  font-weight: 500;
  border: green solid 2px;
  } */

/* #section3-para {
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border: red solid 2px;
  width: fit-content;
  } */

/* #featured2-image{
border: blue solid 2px;
} */

/* .featured2-div > div > img {
    width: 610px;
    height: 305px;
  } */

/* .featured2-div{
    padding-left: 120px;
    width: fit-content;
    border: rgb(8, 8, 8) solid 2px;
  display: flex;
} */

/* SECTION 4 */

/* .section4-div > img {
  width: 610px;
  height: 305px;
  border: blue 2px solid;
} */

/* .section4-div{
  padding-left: 120px;
  width: fit-content;
  border: rgb(8, 8, 8) solid 2px;
display: flex;
} */

.hr4{
padding: 60px 120px 0px 120px;
  }
#section4-heading{
  padding-top: 61px;
  padding-left: 120px;
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
  font-family: clash display;
  height: 44p;
}
#section4-para {
  width: 663px;
  padding-left: 120px;
  padding-top: 44px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border: red solid 2px;
  
}
#comment4-link-div {
  padding-top: 35px;
  padding-left: 597px;
  border: rgb(41, 3, 132) solid 1px;
}

#section4-image {
  padding-top: 61px;
  padding-right: 120px;
  width: fit-content;
}
#section4-image img {

  width: 610px;
  height: 305px;
  border: 2px RED solid;
}

#section4-divv {
  display: flex;
  gap: 50px;
}

/* SECTION 5 */

.section5-div {
  padding-left: 120px;
  width: fit-content;
  border: red solid 2px;
  display: flex;
  gap: 20px;
}
.section5-div > div > img {
  width: 610px;
  height: 305px;
}
.hr5{
  padding: 60px 120px 60px 120px;
    }
#section5-header {
  padding-left: 30px;
  padding-top: 5px;
  width: 500px;
  font-size: 36px;
  font-weight: 500;
}

#section5-para {
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border: red 1px solid;
}

#comment-link-div {
  padding-top: 40px;
  padding-left: 505px;
}
